.top-space
  .container
    .row{style: "height:80px;"}
    .row
      .col-md-4
      .col-md-4
        .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp
          .mdl-card__title{style: "background-color:#3F51B5"}
            .mdl-card__title-text{style: "color:#ffffff"}
              = "Register"
          .mdl-card__actions.mdl-card--border
          %div
            #create_app
              .row
                .col-md-11
                  %div
                    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                      = devise_error_messages!
                      #error_explanation
                        %ul
                          - flash.each do |name, msg|
                            %li
                              %span{:id => "flash_#{name}" }
                                = msg
                      .row.col-md-offset-1{id: ""}
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.md-form-field-long-100p
                          %input.mdl-textfield__input{type: :text, id: :email, name: "user[email]", for: :email,
                                                        value: params["email"],
                                                        autofocus: false}
                          %label.mdl-textfield__label{for: :email}
                            = t('email')

                      .row.col-md-offset-1{id: ""}
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.md-form-field-long-100p
                          %input.mdl-textfield__input{type: :password, id: :password, name: "user[password]", for: :password, value: '',
                                                      autofocus: false}
                          %label.mdl-textfield__label{for: :password}
                            = t('password')

                      .row.col-md-offset-1{id: ""}
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.md-form-field-long-100p
                          %input.mdl-textfield__input{type: :password, id: :confirm_password, name: "user[confirm_password]", for: :confirm_password, value: '',
                                                      autofocus: false}
                          %label.mdl-textfield__label{for: :confirm_password}
                            = t('confirm_password')


                      .row{style: "height:20px;"}
                      .row.col-md-offset-1{id: ""}
                        .centered
                          %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.md-form-field-long-100p{ :type => "submit",
                            class: "btn btn-success",
                            id: "btnCreateApp", value: "Register" }
                      .row{style: "height:30px;"}
                      .row.col-md-offset-1{id: ""}

                        - if devise_mapping.rememberable?
                          .pull-left
                            = t('already_have_an_account')
                          .pull-right
                            - if controller_name != 'sessions'
                              = link_to t('log_in'), new_session_path(resource_name), class: "mdl-mega-footer__heading"

                      .row{style: "height:30px;"}
      .col-md-4

:css
  a.mdl-mega-footer__heading{
    color: #448AFF !important;
    padding-right: 0 !important;
  }
