.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row{'style'=>'height:10px'}
  .row
    .col-md-12
      .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
        .mdl-tabs__tab-bar.background-cream
          %a.mdl-tabs__tab.is-active{href: "#tabusers", id:"users-tab", role: "tab", 'data-toggle' => "tab",
              'aria-controls' => 'tabusers'}
            %i.fa.fa-users
            %label
              = 'Users'
          %a.mdl-tabs__tab{href: "#tabinvities", id:"invities-tab", role: "tab", 'data-toggle' => "tab",
                'aria-controls' => 'tabinvities'}
            %i.fa.fa-envelope
            %label
              = 'Invities'
        .mdl-tabs__panel.is-active{id: :tabusers}
          .col-md-12{style: 'margin-top:20px;'}
            = render 'organisation_users/index', org_users: @org_users, page: @page, per_page: @per_page
        .mdl-tabs__panel{id: :tabinvities}
          .col-md-12{style: 'margin-top:20px;'}
            = render 'organisation_users/invited_org_users', invited_users: @invited_users, page: @page,
                     per_page: @per_page

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button.floating-fab-button{id: "add_org_user", url: new_organisation_user_url }
  %i.material-icons
    = 'add'
.mdl-tooltip.mdl-tooltip--large{for: 'add_org_user'}
  = t("add_org_user")


:css

  #add_org_user {
    position: fixed;
    margin-right: 50px;
    margin-bottom: 60px;
    z-index: 900;
    display: block;
    right: 0;
    bottom: 0;
  }

  .icons {
    color:  #FE8183;
    /*font-size: 15px !important;*/
  }

  .icon-space
  {
    margin-right: 5px;
  }


:javascript
  $(document).ready(function(){
    $('#add_org_user').on('click',add_org_user)
    $('#btnCloseDailog').on('click',closeDialog)
  });

  function add_org_user(e){
    var url = $(this).attr('url');
    var orgid = $('#hdf_selected_org_id').val();
    e.preventDefault();
    //$.get(url,'','','script');
    window.location = url;
  }