.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .mdl-shadow--2dp{style: "width:100%"}
      .col-md-12
        .col-md-4
        .col-md-8
          .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text
                = t('.create_org')
            .mdl-card__actions.mdl-card--border
            #org_creation_errors
            %div
              #create_org
                .row
                  .col-md-11
                    %div.form-horizontal
                      =form_for organisation, remote: true do |f|
                        %div
                        .row.col-md-offset-1{id: "org_name"}
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.md-form-field-long-100p
                            %input.mdl-textfield__input{type: :text, id: "organisation[name]", name: "organisation[name]", for: :name,
                                                        value: organisation.name,
                                                        autofocus: true}
                            %label.mdl-textfield__label{for: :name}
                              = t('name')
                        .row.col-md-offset-1{id: "org_desc"}
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.md-form-field-long-100p
                            %textarea.mdl-textfield__input{type: :text, rows: '5', id: "organisation[description]", name: "organisation[description]",
                                                           for: :description,  value: organisation.description}
                              = organisation.description
                            %label.mdl-textfield__label{for: :description}
                              = t('desc')
                        -#.row.col-md-offset-1{id: "org_timezone"}
                        -#  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        -#    = render "shared/timezones", timezones: @timezones
                        - if @timezones.present? && @timezones.size > 0
                          .row
                            .col-md-offset-1{id: "org_desc"}
                              %i.fa.fa-clock-o.fa-2x
                                %select.user_timezones_picker{"data-live-search" => "true",
                                                              id: "user_timezones",
                                                              name: "user_timezones",
                                                              style: "width:100%"}
                                  - @timezones.each do |timezone|
                                    %option{:value => timezone,  :selected => @selected_timezone == timezone}
                                      = timezone
                                %input{type: :hidden, id: :hdftimezone, name: :hdftimezone}
                        .row
                          %br

                        .row.col-md-offset-1{id: "org_submit"}
                          .pull-left
                            %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent{ :type => "submit",
                              class: "btn btn-success",
                              id: "btnCreateApp" }
                          .pull-right
                            %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{ :type => "button",
                              id: "btnCancelApp", name: 'btnCancelApp', value: t('cancel') }
                        .row
                          = " x"

:javascript
  $(document).ready(function(){
    $('#btnCancelApp').on('click',function(){
      var root_url =  "#{root_path}";
      window.location = root_url;
    });
  });

   $('.user_timezones_picker').selectpicker({
    size: 6
  });

  function change_timezone()
  {
    var time_zone = $(this).val();
    $("#hdftimezone").val(time_zone)
  }