.page-content
  .row
    .col-md-12
      = render 'shared/page_heading',
        page_title: t('.page_title') + '-' + @app_name.to_s,
        page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      .mdl-card.mdl-shadow--4dp{style: 'width: 100%; display:block;'}
        .col-md-6
          .pull-left
            .mdl-card__title
              %h4.mdl-card__title-text
                = "#{@push_notification_group.title}"
        .col-md-6
          .pull-right
            .mdl-card__title-text.png-details-date
              ="#{@push_notification_group.created_at}"
        .col-md-12
          .mdl-card__title
            %span
              .mdl-typography--font-light.mdl-typography--subhead
                = "#{@push_notification_group.body}"
        .mdl-card__actions.mdl-card--border
        .col-md-12
          .mdl-grid
            .mdl-cell.mdl-cell--3-col.mdl-shadow--4dp
              .png-alert-cards
                .title.dark-green
                  %i.material-icons.icon
                    = 'done_all'
                  = "#{t('push_notification_groups.index.table.groups.total')}"
                .description.green
                  = "#{@push_notification_group.total}"
            .mdl-cell.mdl-cell--3-col.mdl-shadow--4dp
              .png-alert-cards
                .title.dark-orange
                  %i.material-icons.icon
                    = 'near_me'
                  = "#{t('push_notification_groups.index.table.groups.sent')}"
                .description.orange
                  = "#{@push_notification_group.sent}"
            .mdl-cell.mdl-cell--3-col.mdl-shadow--4dp
              .png-alert-cards
                .title.dark-gray
                  %i.material-icons.icon
                    = 'block'
                  = "#{t('push_notification_groups.index.table.groups.failed')}"
                .description.gray
                  = "#{@push_notification_group.failed}"
            .mdl-cell.mdl-cell--3-col.mdl-shadow--4dp
              .png-alert-cards
                .title.dark-blue
                  %i.material-icons.icon
                    = 'slow_motion_video'
                  = "#{t('push_notification_groups.index.table.groups.pending')}"
                .description.blue
                  = "#{@push_notification_group.pending}"

  .row.mdl-block-gap
  .row
    .col-md-12
      =render "push_notification_groups/group_notifications", group: @push_notification_group,
              group_notifications: @group_notifications, product: @product, page: @page, per_page: @per_page
  .row.mdl-block-gap

