.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .mdl-shadow--2dp{style: "width:100%"}
      .col-md-12
        .col-md-4
        .col-md-8
          .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text
                = t('.change_password')
            .mdl-card__actions.mdl-card--border
            #rowalerts
            %div
              #create_org
                .row
                  .col-md-11
                    %div.form-horizontal
                      =form_for(user, url: update_password_path, :html => {multipart: :true }) do |f|
                        .row.col-md-offset-1
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            = f.password_field :password, :autocomplete => "off", :class => "mdl-textfield__input"
                            %label.mdl-textfield__label{for: :password}
                              = t("current_password")
                        .row.col-md-offset-1
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            = f.password_field :new_password, :autocomplete => "off", :class => "mdl-textfield__input"
                            %label.mdl-textfield__label{for: :new_password}
                              = t("new_password")
                        .row.col-md-offset-1
                          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            = f.password_field :password_confirmation, :autocomplete => "off", :class => "mdl-textfield__input"
                            %label.mdl-textfield__label{for: :password_confirmation}
                              = t("confirm_password")
                        .row.col-md-offset-1
                          .pull-left
                            .submit
                              %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent{ :type => "submit", id: "btnChangePassword" }
                          .pull-right
                            %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect{ :type => "button",
                              id: "btnCancelApp", value: t('cancel') }
                      .row
                        = " x"

:javascript

   $(document).ready(function(){
    $('.new_user').on('submit', change_password);
    $('#btnCancelApp').on('click',function(){
      var root_url =  "#{root_path}";
      window.location = root_url;
    });
  });

  function change_password(e){
    var actionurl = e.currentTarget.action;
    e.preventDefault();
    var formData = new FormData($(this)[0]);
    $.ajax({
      url: actionurl,
      type: 'post',
      dataType: 'script',
      contentType: false,
      processData: false,
      cache: false,
      data: formData,
      success: ''
    });
  }