.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: "Apps", page_description: "App Users"
  .row{'style'=>'height:10px'}
  .row
    .col-md-12
      .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
        .mdl-tabs__tab-bar.background-cream
          %a.mdl-tabs__tab.is-active{href: "#tabusers", id:"users-tab", role: "tab", 'data-toggle' => "tab",
              'aria-controls' => 'tabusers'}
            %i.fa.fa-users
            %label
              = 'Users'
          %a.mdl-tabs__tab{href: "#tabinvities", id:"invities-tab", role: "tab", 'data-toggle' => "tab",
                'aria-controls' => 'tabinvities'}
            %i.fa.fa-envelope
            %label
              = 'Invities'
        .mdl-tabs__panel.is-active{id: :tabusers}
          .col-md-12{style: 'margin-top:20px;'}
            = render 'app_users/index', app_users: @app_users, page: @page, per_page: @per_page
        .mdl-tabs__panel{id: :tabinvities}
          .col-md-12{style: 'margin-top:20px;'}
            = render 'app_users/invited_app_users', invited_users: @invited_users, page: @page,
            per_page: @per_page

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button.floating-fab-button{id: "add_app_user", url: new_app_user_url(app_id: @app_id) }
  %i.material-icons
    = 'add'
.mdl-tooltip.mdl-tooltip--large{for: 'add_app_user'}
  = "Add New User for App"


:css

  #add_app_user {
    position: fixed;
    margin-right: 50px;
    margin-bottom: 60px;
    z-index: 900;
    display: block;
    right: 0;
    bottom: 0;
  }

  .icons {
    color:  #FE8183;
    /*font-size: 15px !important;*/
  }

  .icon-space
  {
    margin-right: 5px;
  }


:javascript
  $(document).ready(function(){
    $('#add_app_user').on('click',add_app_user)
    $('#btnCloseDailog').on('click',closeDialog)
  });

  function add_app_user(e){
    var url = $(this).attr('url');
    var appid = $('#hdf_selected_app_id').val();
    e.preventDefault();
    //$.get(url,'','','script');
    window.location = url;
  }