.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'),
                page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render 'shared/wizard', items: @campaign_items
  .row.mdl-block-gap
  .row
    .mdl-shadow--2dp{style: "width:100%"}
      .col-md-12
        .col-md-4
        .col-md-8
          .mdl-card.mdl-shadow--2dp
            .mdl-card__title
              .mdl-card__title-text
                = t('Campaign created')
            .mdl-card__actions.mdl-card--border
              .row
                .col-md-11
                  %div.form-horizontal
                    = "Campaigned created successfully."
                    %br
                    %br
                    %br
                    %br
                    %br
                    .centered
                      %a{href: push_notification_groups_path + "?app_id=" + @app_id.to_s }
                        = "Close"
%input{type: :hidden, value: @app_id, id: :hv_app_id, name: :hv_app_id}
