.page-content
  .row
    .col-md-12
      = render 'shared/page_heading',
                page_title: t('.page_title'),
                page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render 'shared/wizard', items: @campaign_items
  .row.mdl-block-gap
  .row
    .col-md-12
      .col-md-9{id: 'pn_users_list'}
        = render 'push_notifications/pn_users', pn_users: @push_notification_users, app_id: @app_id
      .col-md-3
        = render 'push_notifications/pn_users_filters', platforms: @platforms, platform_filters: @platform_filters, models: @models, model_filters: @model_filters, versions: @versions, app_version_filters: @version_filters
  .row.mdl-block-gap
    %input{type: :hidden, value: @app_id, id: :hv_app_id, name: :hv_app_id}

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button.floating-fab-button{id: "preview_and_schedule",
      name: "preview_and_schedule",
      url: push_notifications_url + '?app_id=' + @app_id.to_s}
  %i.material-icons
    = "save"
.mdl-tooltip.mdl-tooltip--large{for: 'preview_and_schedule'}
  = t("create_segment");

:css

  #preview_and_schedule {
    position: fixed;
    margin-right: 350px;
    margin-bottom: 70px;
    z-index: 900;
    display: block;
    right: 0;
    bottom: 0;
  }

:javascript
  $(document).ready(function(){
    $('.mdl-switch__input.platform-filters').on('change',filter_platforms);
    $('.mdl-switch__input.model-filters').on('change',filter_models);
    $('.mdl-switch__input.version-filters').on('change',filter_versions);
  });

  function filter_platforms(e){
    e.preventDefault();
    var platform_id = $(this).attr('name');
    var platform_selected = $(this).is(":checked");
    var app_id = $('#hv_app_id').val();
    var action_url = 'filter_users_by_platform?app_id=' + app_id;
    var params = {platform_id: platform_id, platform_selected: platform_selected, app_id: app_id};
    $.ajax({
      url: action_url,
      type: 'post',
      dataType: 'script',
      data: params,
      success: ''
    });
  }

  function filter_models(e){
    e.preventDefault();
    var model_id = $(this).attr('name');
    var model_selected = $(this).is(":checked");
    var app_id = $('#hv_app_id').val();
    var action_url = 'filter_users_by_model?app_id=' + app_id;
    var params = {model_id: model_id, model_selected: model_selected, app_id: app_id};
    $.ajax({
      url: action_url,
      type: 'post',
      dataType: 'script',
      data: params,
      success: ''
    });
  }

  function filter_versions(e){
    e.preventDefault();
    var version_code = $(this).attr('name');
    var version_selected = $(this).is(":checked");
    var app_id = $('#hv_app_id').val();
    var action_url = 'filter_users_by_version?app_id=' + app_id
    var params = {version_code: version_code, version_selected: version_selected, app_id: app_id};
    $.ajax({
      url: action_url,
      type: 'post',
      dataType: 'script',
      data: params,
      success: ''
    });
  }