.page-content
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            %h4
              = " API Keys"
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          %div
            .col-md-6
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                %input.mdl-textfield__input{type: :text, id: :clientkey, name: :clientkey, 'readonly' => 'true', value: @clientkey}
                %label.mdl-textfield__label{for: :clientkey}
                  = t('client_key')
              %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{title: 'copy to clipboard', id: 'btnClientKeyCopy'}
                %i.fa.fa-clipboard
              .mdl-tooltip{for: :btnClientKeyCopy}
                = t('copy_to_clipboard')
            .col-md-6
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                %input.mdl-textfield__input{type: :text, id: :txtandroidappkey, name: :txtandroidappkey, 'readonly' => 'true', value: android_app_key}
                %label.mdl-textfield__label{for: :txtandroidappkey}
                  = t("api_key")
              %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{title: 'copy to clipboard', id: 'btnAPIAndroidKeyCopy'}
                %i.fa.fa-clipboard
              %span.mdl-tooltip.mdl-tooltip--top{for: :btnAPIAndroidKeyCopy}
                = t('copy_to_clipboard')
  .row.mdl-block-gap-30
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            %h4
              = t("gcm_api_key_title")
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          .col-md-12{"id"=>"android_rowalerts"}
          %div
            =form_tag app_android_settings_path, name: :form_android_settings, id: :form_android_settings ,method: :post, :html => {multipart: :true } do |f|
              = hidden_field_tag 'platform_id', platform_id
              %div
                .col-md-5
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    %input.mdl-textfield__input{type: :text, id: :android_push_key,name: :android_push_key, value: android_push_key}
                    %label.mdl-textfield__label{for: :android_push_key}
                      = t('app_key')
                .col-md-5
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    %input.mdl-textfield__input{type: :text, id: :package_name, name: :package_name, value: package_name}
                    %label.mdl-textfield__label{for: :package_name}
                      = t("package")
                .col-md-2
                  .pull-left
                    %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent{ :type => "submit", id: "btnCreateAndroidPNSettings" }
  .row.mdl-block-gap-30
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            %h4
              = t("android_sdk_setup")
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          %div

:javascript

  $(document).ready(function(){
    $('#btnAPIAndroidKeyCopy').on('click', copyAPIAndroidKey);
    $("#form_android_settings").on('submit', postAndroidSettings);
  });

  function postAndroidSettings(e)
  {
    var actionurl = e.currentTarget.action;
    var formData = new FormData($(this)[0]);
    e.preventDefault();

    $.ajax({
      url: actionurl,
      type: 'post',
      dataType: 'script',
      contentType: false,
      processData: false,
      cache: false,
      data: formData,
      success: ''
    });
  }

  function copyAPIAndroidKey(e)
  {
    e.preventDefault();
    var input = $('#txtandroidappkey');
    input.select();
    document.execCommand('copy');
  }

