.page-content
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            = " API Keys"
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          %div
            .col-md-6
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                %input.mdl-textfield__input{type: :text, id: :clientkey, name: :clientkey, 'readonly' => 'true', value: @clientkey}
                %label.mdl-textfield__label{for: :clientkey}
                  = t("client_key")
              %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{title: 'copy to clipboard', id: 'btnClientKeyCopy'}
                %i.fa.fa-clipboard
              .mdl-tooltip{for: :btnClientKeyCopy}
                = t('copy_to_clipboard')
          .col-md-6
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              %input.mdl-textfield__input{'type'=>'text', 'id' => 'txtiosappkey', 'readonly' => 'true', value: ios_app_key}
              %label.mdl-textfield__label{for: :txtiosappkey}
                = t('api_key')
            %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{title: 'copy to clipboard', id: 'btnAPIIOSdKeyCopy'}
              %i.fa.fa-clipboard
            %span.mdl-tooltip.mdl-tooltip--top{for: :btnAPIIOSdKeyCopy}
              = t('copy_to_clipboard')
  .row.mdl-block-gap
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            %h4
              = t("api_cerficate_title")
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          .col-md-12{"id"=>"ios_rowalerts"}
          %div
            =form_tag app_ios_settings_path, name: :form_ios_settings, id: :form_ios_settings ,method: :post, :html => {multipart: :true } do |f|
              = hidden_field_tag 'platform_id', platform_id
              = hidden_field_tag 'ios_pn_certificate', ios_push_key
              %div
                .col-md-5
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    %input.mdl-textfield__input{type: :password, name: :ios_certificate_key, value: ios_certificate_key, autofocus: true}
                    %label.mdl-textfield__label{for: :ios_certificate_key}
                      = t('pn_certificate_key')
                .col-md-5
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-textfield--file
                    %input.mdl-textfield__input{type: :text, id: :uploadcertificate, readonly: true}
                    %label.mdl-textfield__label{for: :uploadcertificate}
                      = t("pn_certficate")
                    .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file.mdl-button--fab.mdl-button--mini-fab
                      %i.material-icons
                        = 'file_upload'
                      %input{type: :file, id: :ios_certificate, name: :ios_certificate}
                .col-md-2
                  .pull-left
                    %input.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent{ :type => "submit", class: "form-control btn btn-success", id: "btnCreateIOSPNSettings" }
  .row.mdl-block-gap
  .row
    .col-md-12
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--dp{style: 'width: 100%;'}
        .mdl-card__title
          .mdl-card__title-text
            %h4
              = " iOS SDK Setup"
        .mdl-card__actions.mdl-card--border
        .mdl-card__supporting-text
          %div

:javascript

  $(document).ready(function(){
    $("#ios_certificate").change(updatefiletext);
    $('#btnAPIIOSdKeyCopy').on('click', copyAPIIOSKey);
    $('#btnCertificate').on('click', showIOSPNCertificate);
    $("#form_ios_settings").on('submit', postiOSSettings);
  });

  function updatefiletext()
  {
     $("#uploadcertificate").val(this.files[0].name);
     $("#uploadcertificate").addClass("is-dirty is-upgraded is-focused");
  }

  function showIOSPNCertificate()
  {
    var content = $("#ios_pn_certificate").val()
    $("#gModal .modal-body #content").html(content);
    showModel("iOS Push Notification Certificate");
  }

  function postiOSSettings(e)
  {
    var actionurl = e.currentTarget.action;
    var formData = new FormData($(this)[0]);
    e.preventDefault();

    $.ajax({
      url: actionurl,
      type: 'post',
      dataType: 'script',
      contentType: false,
      processData: false,
      cache: false,
      data: formData,
      success: ''
    });
  }

  function copyAPIIOSKey(e)
  {
    e.preventDefault();
    var input = $('#txtiosappkey');
    input.select();
    document.execCommand('copy');
  }


:css
  .mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }

  .mdl-textfield--file .mdl-textfield__input {
      box-sizing: border-box;
      width: calc(100% - 32px);
  }
  .mdl-textfield--file .mdl-button--file {
      right: 0;
  }